body, html {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.container {
  margin: 56px 163px 0 190px;
}

.container-leading {
  margin: 220px 192px 0 135px;
}

.container-download {
  margin: 229px 164px 0 280px;
}

.container-review {
  margin: 266px 238px 0 242px;
}

.button {
  display: inline-block;
  width: 200px;
  height: 56px;
  background: #458FF6;
  border-radius: 55px;
  text-decoration: none;
}

.button-color-lm {
  border: 1px solid #458FF6;
  background: #FFFFFF;
}

.consult-button span {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 56px;
  color: #FFFFFF;
  margin: 0 40px 0px 40px;
}

.white-button span {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 56px;
  color: #458FF6;
  margin: 0 51px 0 51px;
}

.download-button span {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 56px;
  color: #458FF6;
  margin: 0 68px 0 43px;
}

.logo-side {
  display: flex;
}

.t-logo {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: #458FF6;
}

.t-logo span {
  display: block;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 33px;
  color: #FFFFFF;
  padding: 5px 0 0 13px;;
}

.logo-title {
  display: block;
  padding: 6px 0 0 12px;;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #233348;
}

.top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-bar {
  margin: 0;
  padding: 0;
  padding: 14px 29px 0 0;
}

.nav-bar li {
  display: inline-block;
  margin-right: 40px;
  padding: 0;
}

.nav-bar li:last-child {
  margin-right: 0;
}

.nav-bar a {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  opacity: 0.5;
  color: #1f1534;
  text-decoration: none;
}

.nav-bar a:hover {
  opacity: 1;
  font-weight: 700;
}

.bottom-header {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.bottom-header img {
  width: 693px;
  height: 598px;
}

.title-header {
  padding-right: 85px;
}

.title-header h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
  margin: 0;
  padding: 106px 0 25px 0;
}

.title-header p {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7D7987;
  padding: 0;
  padding-bottom: 48px;
  margin: 0;
}

.part-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*width: 1120px;*/
  padding: 136px 77px 0 50px;
}

.services-title h2 {
  text-align: center;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  margin: 0;
}


.services-title p {
  padding: 61px 85px 0 83px;
  margin: 0;

  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: center;

  color: #7D7987;
}

.services-cards {
  width: 1120px;
  margin-top: 80px;
  margin-bottom: 72px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 354px;;
  background: #FFFFFF;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;

  margin-right: 34px;
  margin-bottom: 37px;
}

.card:nth-child(3) {
  margin-right: 0;
}
.card:last-child {
  margin-right: 0;
}

.card img {
  padding-top: 40px;
  padding-left: 30px;
  width: 100px;
  height: 100px;
}

.card h3 {
  margin: 0;
  padding-left: 38px;
  padding-top: 20px;

  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  color: #000000;
}

.card p {
  margin: 0;
  padding-left: 38px;

  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7D7987;
}

.margin-bottom-null {
  margin-bottom: 0;
}

.part-leading {
  display: flex;
  justify-content: space-between;
}

.part-leading img {
  width: 650px;
  height: 477px;
  padding-right: 142px; 
}

.leading-title {
  display: flex;
  flex-direction: column;
}

.leading-title h2 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  margin: 0;
  padding-top: 57px;
  padding-bottom: 59px;
}

.leading-title p {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7D7987;
  margin: 0;
  padding-bottom: 37px;
}

.part-download {
  display: flex;
  justify-content: space-between;
}

.part-download img {
  width: 665px;
  height: 434px;
  padding-left: 110px;
}

.download-title {
  display: flex;
  flex-direction: column;
}

.download-title h2 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  margin: 0;
  padding-top: 36px;
  padding-bottom: 63px;
}

.download-title p {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7D7987;
  margin: 0;
  padding-bottom: 40px;
}

.part-review {
  width: 1120px;
  height: 425px;

  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  border-radius: 24px;
}

.review-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
}

.review-card h2 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #FFFFFF;
  margin: 0;
  padding: 64px 295px 90px 301px;
}

.review-card > p {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 48px;
  color: rgba(255, 255, 255, 0.85);
  margin: 0;
  padding-top: 50px;
  padding-bottom: 110px;
}

.review-card > p::first-line {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 10px;
  color: #FFFFFF;
}

.review-card img {
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  margin: 0 29px 79px 118px;
}

.review-text p {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
  margin: 0;
  padding: 10px 118px 89px 110px;
}

